/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculdoraIdade/nbproject/private/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/

.fake