/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculdoraIdade/nbproject/private/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/

.fake
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/SuperCalculadora/dist/
/Curso-java-basico/nbproject/private/
/Curso-java-basico/build/
/curso-java-basico/nbproject/private/
/curso-java-basico/build/
/curso-java-basico/dist/
